### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import datetime
from datetime import datetime, timedelta
import scipy.stats
import mysql.connector as connector

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Load Data from SQL database

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

### MySQL

In [2]:
#Create a connection

mydb = connector.connect(
  user="root",
  passwd="password",
  database="littlelemondb",
)

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002884E500490>

In [4]:
mycursor = mydb.cursor()
mycursor
mydb.reconnect() #Reconnect cursor
pd.read_sql_query('SHOW tables', mydb)
pd.read_sql_query("SHOW columns FROM booking", mydb)
pd.read_sql_query("DESCRIBE booking", mydb)
pd.read_sql_query("SELECT * FROM customer", mydb)
pd.read_sql_query("SELECT * FROM orders", mydb)

In [7]:
pd.read_sql_query("""SELECT customer.FullName, customer.ContactNumber FROM customer
                    INNER JOIN orders
                    ON customer.CustomerID = orders.Customer_CustomerID
                    WHERE orders.TotalCost > 60
                    """, mydb)
pd.read_sql_query("""CALL GetMaxQuantity();""", mydb)
pd.read_sql_query("""CALL CheckBooking("2023-01-01", 5);""", mydb)
pd.read_sql_query("""CALL AddBooking(99, 99, 99, "2022-11-13");""", mydb)
mycursor.fetchall()
pd.read_sql_query("""CALL UpdateBooking(99, "2022-01-10");""", mydb)
mycursor.fetchall()
pd.read_sql_query("""CALL CancelBooking(99);""", mydb)
mycursor.fetchall()

Empty DataFrame
Columns: [FullName, ContactNumber]
Index: []